<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082670704667-padl04t2116j64l00qd1jgmpglnpbav2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082670704667-padl04t2116j64l00qd1jgmpglnpbav2</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8t3N9B2Tbm-iBLkaO3WmaIz5lTuxpZU</string>
	<key>GCM_SENDER_ID</key>
	<string>1082670704667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seungchan.SpotifyLogin</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-8c395</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-8c395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082670704667:ios:f53e33558f650d6d3a70be</string>
</dict>
</plist>